.sobre {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 40px;
}

.bio {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

.name_red {
    color: var(--red);
    font-weight: bold;
}

.stack_blue {
    color: var(--secondary);
    font-weight: bold;
}

.textos h2, p {
    margin-bottom: 1rem;
}

.techs {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.icones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icone {
    transition: transform 0.3s ease;
}

.icone:hover {
    transform: scale(1.3);
}

.icones img {
    height: 50px;
}

@media (max-width: 768px) {
    .bio {
        flex-direction: column;
        padding-inline: 20px;
        gap: 1rem;
    }
    .bio img {
        max-width: 50%;
    }
    .icones {
        gap: 1.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .textos {
        text-align: center;
    }
    .textos h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }
    .techs h3 {
        font-size: 1.5rem;
    }
    
}

@media (max-width: 480px) {
    .textos {
        text-align: center;
    }
    .icones {
        gap: 0.5rem;
    }
    .icones img {
        height: 40px;
    }
    .icones {
        gap: 1.5rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .techs {
        width: 22rem;
        padding:  1.5rem;
        border-radius: 5px;
    }
    .techs h3 {
        font-weight: bold;
    }
    
}